<div *ngIf="cart.products.length > 0">{{getNumberOfItems()}} items</div>
<div *ngIf="cart.products.length === 0">Cart is empty</div>
<mat-grid-list cols="1" rowHeight="40px">
  <mat-grid-tile
      *ngFor="let cartItem of cart?.products"
      [colspan]="1"
      [rowspan]="1">
      <a mat-button routerLink="/products/{{ cartItem.productId }}">Id:{{ cartItem.productId }} Number:{{ cartItem.number }}</a>
      <button (click)="add(cartItem.productId)" mat-raised-button>
        <mat-icon>add</mat-icon>
      </button>
      <button (click)="remove(cartItem.productId)" mat-raised-button>
        <mat-icon>remove</mat-icon>
      </button>
  </mat-grid-tile>
</mat-grid-list>
